<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<title>RoadieBot</title>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/about.css" />



</head>

<body>

<header class="header-fixed">

	<div class="header-limiter">

		<h1><a href="/">Roadie<span>Bot</span></a></h1>
		<nav>
			<a href="/">Home</a>
			<a href="/About">Team</a>
			<a href="/Contact">Contact</a>
			<a href="/About">About</a>
			<a href="#">Products</a>
		</nav>

	</div>

</header>
<div class="back">
<div class="video">
	<iframe width="1020" height="560" src="https://www.youtube.com/embed/dFRywBkXgdA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	
</div>
</div>
<div class="container" ><h1>Check out our products</h1> </div>
 
<footer>
    <div>
        <h1>Social Media</h1>
        
    </div>
    <div>
        <a class="social" href="#"><img src="Bot1.jpg"></a>
        <a class="social" href="#"><img src="Bot1.jpg"></a>
        <a class="social" href="#"><img src="Bot1.jpg"></a>
        <a class="social" href="#"><img src="Bot1.jpg"></a>
    </div>
</footer>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

	$(document).ready(function(){

		var showHeaderAt = 150;

		var win = $(window),
				body = $('body');

		// Show the fixed header only on larger screen devices

		if(win.width() > 600){

			// When we scroll more than 150px down, we set the
			// "fixed" class on the body element.

			win.on('scroll', function(e){

				if(win.scrollTop() > showHeaderAt) {
					body.addClass('fixed');
				}
				else {
					body.removeClass('fixed');
				}
			});

		}

	});

</script>
</body>

</html>
